@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
 }

.banner{

    text-align: center;

}
.centered {
    color: white;
    margin-top: 0px;
    font-size: xxx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }

body{
    font-family: 'Quicksand',sans-serif;

}
.head-up{
    display:flex; 
    font-size: x-large;
    justify-content: center;
    margin-bottom: 50px;
}
main{
    padding: 20px;
    overflow: auto;
}
nav{
    background-color: #173f5f;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    flex-direction: row-reverse;
}
nav h1{
    display: flex;
    align-items: center;
}
header{
    display: inline;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover{
    font-weight: bold;
}
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
.card{
    box-shadow: 3px 4px 16px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.hotelcard{
    
    width: 450px;
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.destcard{
    width: 600px;
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.profileCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    box-shadow: 3px 4px 16px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

#destination img{
    width: 100%;
    max-height: 80%;
    object-fit: cover;
    object-position: center;
}
#hotel img{
    width: 100px;
    
    object-fit: cover;
    object-position: center;
}

.flex-column-hotel{
    overflow: scroll
    flex-direction: column;

}
.flex-row-hotel{
    display: flex;

}
.flex-row-dest{
    display: flex;
    flex-direction: row-reverse;
}
.dest {
    flex-basis: 20%;
    padding: 20px;
    cursor: pointer;
 }
.dest-head{
     display: flex;
     flex-basis: 30%;
     justify-content: center;
     align-items: center;
     top: 50%;
 }
 .hote {
    flex-basis: 10%;
    padding: 20px;
    cursor: pointer;
 }

 footer{
    padding: 10px;
    color: white;
    background-color: #101d20;
    text-align: center;
    font-weight: bold;

}





.wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, .75);
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}